<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form_check</title>
</head>
<body>
<form action="/index" method="post">
    <input type="text" name="IP" placeholder="ip"/>
    <!--<input type="text" name="PORT" placeholder="port"/>-->
    <input type="text" name="MAIL" placeholder="mail"/>
    <input type="text" name="PHONE" placeholder="phone"/>
    <p><input type="checkbox" name="check_box" value="1">游泳</p>
    <p><input type="checkbox" name="check_box" value="2">唱歌</p>
    <p><input type="checkbox" name="check_box" value="3">跑步</p>
    <input type="submit" value="submit"/>
</form>
</body>
</html>